.left-sidebar-wrap {
  background: #FAFBFF;
  overflow: hidden;
  width: 379px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.left-chat-title {
  padding: 10px 25px;
 }
/* .slimscroll {
  position: relative;
  height: 788px;
  overflow-x: scroll;
} */
.sidebar .user-list li .users-list-body h5 {
  margin: 0px;
  text-align: left;
}
.sidebar .user-list li .users-list-body p {
  text-align: left;
  margin-top: 7px;
}
span.dot {
  margin-right: 3px !important;
}